/* Variables de Css */
:root {
  --c-red-200: #ffb2ae;
  --c-red-500: #b14751;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-red-100: #ffb2ae;
  --c-red-450: #f27682;
  --c-amarillo: #ffbc0e;
  --c-verde: #008000;

  --border: 6px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------- */
/* ---- NAVBAR ------- */
/* ------------------- */
.headerContainer {
  background-color: var(--c-red-500);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.header .logo {
  color: var(--c-amarillo);
  -webkit-text-stroke: 2px var(--c-verde);
  font-size: 20px;
  text-decoration-line: underline;
}

.header .nav {
  list-style: none;
}

.header .nav li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav li:hover,
.overlay a:hover {
  transform: scale(1.1);
}

.header .nav a {
  font-size: 700;
  color: var(--c-white);
}

.header .nav li a:hover {
  color: var(--c-black);
}

.header .btn button {
  font-weight: 700;
  color: var(--c-red-500);
  padding: 9px 25px;
  background: var(--c-white);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
  background-color: var(--c-white);
  color: var(--c-black);
  transform: scale(1.1);
}

.header .header-search {
  padding: 8px;
  border-radius: 8px;
  border: 0;
}

/* ----------------------- */
/* ---- FIN NAVBAR ------- */
/* ----------------------- */

/* --------------------------- */
/* ---- SECCIÓN BANNER ------- */
/* --------------------------- */
.sectionBanner {
  background-image: url("../pages/main/img/banner-pollo2.jpg");
  height: 90vh;
  

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionBanner .sectionBanner-title {
  font-size: 55px;
  color: var(--c-red-500);
  -webkit-text-stroke: 1px var(--c-white);
  margin-bottom: 1rem;
}

.sectionBanner .sectionBanner-logo {
  color: var(--c-amarillo);
  -webkit-text-stroke: 2px var(--c-verde);
  font-size: 100px;
  
}

/* ---------------------------------- */
/* ---- FIN DE SECCIÓN BANNER ------- */
/* ---------------------------------- */

/* ---------------------------------- */
/* ---- SECCIONES & NAVBAR ---------- */
/* ---------------------------------- */
.contentSection {
  max-width: 1000px;
  margin: auto;
}

/* Estilos de card producto */
.cardProduct {
  background-color: var(--c-white);
  padding: 20px;

  max-width: 140px;
  border-radius: var(--border);
}
.cardProduct .cardProduct-content-picture {
  text-align: center;
  margin-bottom: 8px;
}
.cardProduct .cardProduct-picture {
  max-width: 100px;
  width: 100%;
}

.cardProduct .cardProduct-title {
  color: var(--c-red-500);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.cardProduct .cardProduct-description {
  font-size: 12px;
  margin-bottom: 3px;
}

.cardProduct .cardProduct-price {
  margin-bottom: 10px;
}

.cardProduct .cardProduct-see-more {
  color: var(--c-white);
  background-color: var(--c-red-500);
  border: 0;
  padding: 6px;
  width: 100%;
  border-radius: var(--border);
}

/* final de estilos de card */

/* Estilos de secciones de pág. principal */
.sectionProducts {
  padding: 40px;
  background-image: url(../pages/main/img/fondo-madera-madera-textura-patron-wallpaper-concepto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sectionProducts .sectionProducts-title {
  font-size: 40px;
  margin-bottom: 16px;
  -webkit-text-stroke: 1px var(--c-white);
}

/*Estilos Seccion Historia*/
.sectionHistoryContainer {
  background-image: url(../pages/main/img/fondo-diseno-textura-simple-blanco.jpg);
}
.sectionHistory {
  padding: 40px;
}

.sectionHistory .sectionHistory-content {
  display: flex;
  gap: 50px;
}

.sectionHistory .sectionHistory-title {
  font-size: 40px;
  margin-bottom: 16px;
  text-align: center;
}

.sectionHistory .sectionHistory-picture {
  max-width: 500px;
  max-height: 300px;
}

.sectionHistory .sectionHistory-description {
  font-size: 16px;
}

/*Footer*/

.footer {
  padding: 40px;
  display: flex;
  gap: 50px;
  background-color: var(--c-red-500);
}
.footer .footer-col1 {
  width: 100%;
}
.footer .footer-col1 .footer-slogan {
  color: var(--c-white);
  font-size: 16px;
  margin-bottom: 16px;
}

.footer .footer-col1 .footer-logo {
  font-size: 50px;
  color: var(--c-white);
  font-weight: bold;
}

.footer .footer-col2-map {
  max-width: 420px;
  max-height: 300px;
}

.footer .footer-title {
  color: var(--c-white);
  font-size: 25px;
  margin-bottom: 10px;
}
.footer .footer-col3 {
  width: 100%;
}
.footer .footer-col3 .footer-links li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer .footer-col3 .footer-links a {
  text-decoration: none;
  color: var(--c-white);
}

.footer .footer-col3 .footer-links {
  margin-bottom: 14px;
}

/* @media screen and (max-width: 800px) {
  .nav-links .btn {
    display: none;
  }
  .menu {
    display: inherit;
  }
} */

/*Nav*/

.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--c-red-500);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: var(--c-white);
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: var(--c-amarillo);
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

/* @media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }

  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} */
/*Sección Locales*/
.location .location-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.location .location-titles {
  font-size: 25px;
  margin-bottom: 15px;
}

.location .list-item{
  list-style: none;
  margin-bottom: 25px;
}

.location .location-list .location-map1{
  margin-left: 50%;
}