/* Variables de Css */
:root {
  --c-red-200: #ffb2ae;
  --c-red-500: #b14751;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-red-100: #ffb2ae;
  --c-red-300: #b14751;
  --c-red-400: #b14751;
  --c-red-450: #f27682;

  --border: 6px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos de card producto */
.cardProduct {
  background-color: var(--c-white);
  padding: 20px;

  max-width: 140px;
  border-radius: var(--border);
}
.cardProduct .cardProduct-content-picture {
  text-align: center;
  margin-bottom: 8px;
}
.cardProduct .cardProduct-picture {
  max-width: 100px;
  width: 100%;
}

.cardProduct .cardProduct-title {
  color: var(--c-red-500);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.cardProduct .cardProduct-description {
  font-size: 12px;
  margin-bottom: 3px;
}

.cardProduct .cardProduct-price {
  margin-bottom: 10px;
}

.cardProduct .cardProduct-see-more {
  color: var(--c-white);
  background-color: var(--c-red-500);
  border: 0;
  padding: 6px;
  width: 100%;
  border-radius: var(--border);
}

/* final de estilos de card */

.sectionBanner {
  background-image: url("../pages/main/img/banner.png");
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionBanner .sectionBanner-title {
  font-size: 35px;
  color: var(--c-white);
  margin-bottom: 1rem;
}

.sectionBanner .sectionBanner-logo {
  font-size: 55px;
  background-color: var(--c-red-100);
  padding: 10px 18px;
  border-radius: var(--border);
  color: var(--c-red-500);
}

/* Estilos de secciones de pág. principal */
.sectionProducts {
  padding: 40px;
  background-color: var(--c-red-450);
}

.sectionProducts .sectionProducts-title {
  font-size: 25px;
  margin-bottom: 16px;
}

/*Estilos Seccion Historia*/

.sectionHistory {
  background-color: var(--c-red-100);
  padding: 40px;
}

.sectionHistory .sectionHistory-content {
  display: flex;
  gap: 22px;
}

.sectionHistory .sectionHistory-title {
  font-size: 40px;
  margin-bottom: 16px;
  text-align: center;
}

.sectionHistory .sectionHistory-picture {
  max-width: 500px;
  max-height: 300px;
}

.sectionHistory .sectionHistory-description {
  font-size: 16px;
}

/*Footer*/

.footer {
  padding: 40px;
  display: flex;
  gap: 22px;
  background-color: var(--c-red-500);
}
.footer .footer-col1 {
  width: 100%;
}
.footer .footer-col1 .footer-slogan {
  color: var(--c-white);
  font-size: 16px;
  margin-bottom: 16px;
}

.footer .footer-col1 .footer-logo {
  font-size: 50px;
  color: var(--c-white);
  font-weight: bold;
}

.footer .footer-col2-map {
  max-width: 420px;
  max-height: 300px;
}

.footer .footer-title {
  color: var(--c-white);
  font-size: 25px;
  margin-bottom: 10px;
}
.footer .footer-col3 {
  width: 100%;
}
.footer .footer-col3 .footer-links li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer .footer-col3 .footer-links a {
  text-decoration: none;
  color: var(--c-white);
}

.footer .footer-col3 .footer-links {
  margin-bottom: 14px;
}



/*Navbar*/
.header {
  background-color: var(--c-red-300);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}
.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover,
.overlay a:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: #ffffff;
}

.header .nav-links li a:hover {
  color: var(--c-black);
}

.menu{
  display: none;
}

.header .btn button,
.header .menu button{
  margin-left: 20px;
  font-weight: 700;
  color: #b14751;
  padding: 9px 25px;
  background: var(--c-white);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
  background-color: var(--c-white);
  color: var(--c-black);
  transform: scale(1.1);
}


@media screen and (max-width: 800px){
  .nav-links .btn{
    display: none;
  }
  .menu{
    display: inherit;
  }
}

/*Nav*/

.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--c-red-300);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: var(--c-white);
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #ffbc0e;
}

.header .overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height:450px) {
  .header .overlay a{
    font-size: 20px;
  }

  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}